In [0]:
import numpy as np
import pandas as pd
import operator

In [0]:
# importing file
url="https://drive.google.com/uc?export=download&id=1vW1eVZDfW-heTNtx_Gjv6LXCspIc3xdZ"
data = pd.read_csv(url, header = 0)
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [0]:
data = data.drop(['Id'], axis=1)

In [0]:
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [0]:
# Defining a function which calculates euclidean distance between two data points
def euclideandistance(data1, data2, length):
  distance = 0
  for x in range(length):
    distance += (data1[x] - data2[x])**2
  return np.sqrt(distance)

In [0]:
#defining Knn
def knn(trainingset, testinstance, k):
  distance =[]
  length = len(testinstance)
  
  for x in range(len(trainingset)):
    dist = euclideandistance(trainingset[x], testinstance, length)
    distance.append((trainingset[x],dist))
    distance.sort(key = operator.itemgetter(1))
  #print(distance)
    
  neighbor =[]
  
  for x in range(k):
    neighbor.append(distance[x][0])
    #print('neighbors : '+ str(neighbor))
    
  classval={}
  
  for x in range(len(neighbor)):
    response = neighbor[x][-1]
    if response in classval:
      classval[response] += 1
    else:
      classval[response] = 1
   
  print('classval: '+str(classval))
  
  sortedvotes = sorted(classval.items() , key = operator.itemgetter(1), reverse = True)
  return sortedvotes[0][0]

In [0]:
#spliting data into training ans test

msk = np.random.rand(len(data)) < 0.8

train = data[msk]
train = train.values.tolist()
test = data[~msk]



test1 = test.drop(['Species'], axis=1)
test1 = test1.values.tolist()

store =[]
for i in range(len(test1)):
  store.append(knn(train, test1[i], 3))

classval: {'Iris-setosa': 3}
classval: {'Iris-setosa': 3}
classval: {'Iris-setosa': 3}
classval: {'Iris-setosa': 3}
classval: {'Iris-setosa': 3}
classval: {'Iris-setosa': 3}
classval: {'Iris-setosa': 3}
classval: {'Iris-setosa': 3}
classval: {'Iris-setosa': 3}
classval: {'Iris-setosa': 3}
classval: {'Iris-setosa': 3}
classval: {'Iris-setosa': 3}
classval: {'Iris-setosa': 3}
classval: {'Iris-versicolor': 3}
classval: {'Iris-versicolor': 3}
classval: {'Iris-versicolor': 3}
classval: {'Iris-versicolor': 3}
classval: {'Iris-versicolor': 3}
classval: {'Iris-versicolor': 3}
classval: {'Iris-versicolor': 3}
classval: {'Iris-virginica': 3}
classval: {'Iris-virginica': 3}
classval: {'Iris-virginica': 3}
classval: {'Iris-versicolor': 3}
classval: {'Iris-virginica': 3}
classval: {'Iris-virginica': 3}
classval: {'Iris-virginica': 3}
classval: {'Iris-virginica': 3}
classval: {'Iris-virginica': 3}
classval: {'Iris-virginica': 3}
classval: {'Iris-versicolor': 2, 'Iris-virginica': 1}
classval: {'Iris-virginica': 3}
classval: {'Iris-virginica': 3}
classval: {'Iris-virginica': 3}

In [0]:
store

['Iris-setosa',
 'Iris-setosa',
 'Iris-setosa',
 'Iris-setosa',
 'Iris-setosa',
 'Iris-setosa',
 'Iris-setosa',
 'Iris-setosa',
 'Iris-setosa',
 'Iris-setosa',
 'Iris-setosa',
 'Iris-setosa',
 'Iris-setosa',
 'Iris-versicolor',
 'Iris-versicolor',
 'Iris-versicolor',
 'Iris-versicolor',
 'Iris-versicolor',
 'Iris-versicolor',
 'Iris-versicolor',
 'Iris-virginica',
 'Iris-virginica',
 'Iris-virginica',
 'Iris-versicolor',
 'Iris-virginica',
 'Iris-virginica',
 'Iris-virginica',
 'Iris-virginica',
 'Iris-virginica',
 'Iris-virginica',
 'Iris-versicolor',
 'Iris-virginica',
 'Iris-virginica',
 'Iris-virginica']

In [0]:
train[100]

[5.6, 2.8, 4.9, 2.0, 'Iris-virginica']